<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
<!-- Start of HubSpot Embed -->
  <script type="text/javascript" src="//js.hs-scripts.com/2631738.js" id="LeadinEmbed-2631738" crossorigin="use-credentials" async defer></script>
<!-- End of HubSpot Embed -->
  </body>

</html>
